<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.video.liveshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NETWORK_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <application
        android:name="com.video.liveshow.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="live"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.video.liveshow.activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.video.liveshow.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyAuth"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.SearchActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFSetSecondPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFSaveCandy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFHelpCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyLevel"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyContribute"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyStar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyCandyRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFSetPayInfo2"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyMoney"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFMyFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFTradeCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFRankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFTradeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZSFRecordDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.WebUploadImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.video.liveshow.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoCompressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.VideoPublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.OtherUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ImageChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.FansMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ZanMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.CommentMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.AtMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.AtFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.AdminMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.SystemMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.BlackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.CashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.video.liveshow.activity.CashActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.video.liveshow.activity.ZanMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.ChooseMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.EditMusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.liveshow.activity.LinkActivity"
            android:screenOrientation="portrait" />
        <!--微信登录回调页面-->
        <activity
            android:name="com.video.liveshow.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--腾讯地图定位-->
        <meta-data
            android:name="TencentMapSDK"
            android:value="B32BZ-FQCWD-S5G4J-PBYGX-BVIC6-H6F4K" />

        <!-- 腾讯bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="7e958410c7" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="3.1.5" />

        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="neibufabu" />

        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />
        <!-- 腾讯bugly end-->

        <!--Android 7.0 拍照要用这个-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.video.liveshow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--百度语音识别-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11637173" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="ispUBWN0nM5rF9rWVSGp6Xqt" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="N1iQLNbnei3G0GBLMqtQdV9euSHIHvCW" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <!--百度语音识别end-->

    </application>

</manifest>